/* FONTS  */

@font-face {
  font-family: "outfit";
  src: url(./assets/fonts/outfit/Outfit-Regular.ttf);
}

@font-face {
  font-family: "young-serif";
  src: url(./assets//fonts/young-serif/YoungSerif-Regular.ttf);
}

/* FONTS END */

body {
  background-color: hsl(30, 54%, 90%);
  font-family: "outfit";
}

h1,
h2 {
  font-family: "young-serif";
  font-weight: 400;
  margin-bottom: 15px;
}

h2 {
  color: hsl(14, 45%, 36%);
  font-size: 30px;
}

li {
  padding-left: 15px;
  margin-block: 5px;
}

ol li::marker {
  font-weight: bold;
  color: hsl(14, 45%, 36%);
}

hr {
  margin-block: 40px;
  border-top: hsl(30, 18%, 87%);
}

.recipe-container {
  max-width: 900px;
  margin-inline: auto;
  margin-top: 50px;
  background-color: hsl(0, 0%, 100%);
  padding: 30px;
  border-radius: 25px;
}

.recipe-container img {
  border-radius: 25px;
  margin-bottom: 20px;
}

.preparation-time-container {
  margin-block: 25px;
  background-color: hsl(330, 100%, 98%);
  padding: 20px 30px;
  border-radius: 25px;
}

.preparation-time-container h3 {
  color: hsl(332, 51%, 32%);
  padding-bottom: 5px;
}
